<%= error_messages_for 'login' %>

<!--[form:user]-->
<p><label for="login_username">Username</label><br/>
<%= text_field 'login', 'username'  %></p>

<p><label for="login_password">Password</label><br/>
<%= password_field 'login', 'password'  %></p>
<!--[eoform:user]-->

